@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl !important;
}

body {
    font-family: Vazirmatn, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
}